#content {
  margin: 64px auto;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#userContainer {
  min-height: 231px;
  display: flex;
  flex-direction: column;
}

#userContainer > section:first-of-type {
  display: flex;
  align-items: center;
  gap: 20px;
}

#actionList {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 20px;
  transition: 0.3s;
}

#profilePicture {
  display: flex;
  border-radius: 100%;
  overflow: hidden;
  width: 128px;
  transition: 0.3s;
  aspect-ratio: 1;
}

#username {
  font-size: 25px;
}

.notFound {
  opacity: 0.5;
}

@media screen and (min-width: 820px) {
  
  #actionList {
    flex-direction: row;
  }

}