.container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 20px;
  transition: 0.3s;
}

#runDataContainer, #runDataContainer > section {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

#runDataContainer > section {
  flex-wrap: wrap;
}

.runData {
  flex: 1 1 24%;
  padding: 25px;
}

#video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.75rem;
}

.person {
  flex-basis: 49%;
}

@media screen and (min-width: 830px) {
  
  #runDataContainer {
    flex-direction: column;
  }

  #runDataContainer > section {
    flex-direction: row;
  }

}